ELAI/AD_tracks_genome_sub300.pdf
ELAI/AD_tracks_genome_sub300_thesis.ai
ELAI/AD_tracks_genome_sub300_thesis.pdf
ELAI/AD_tracks_genome_sub300_thesis.png
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_10_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_11_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_15_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_17_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_1_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_20_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_21_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_2_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_30_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_31_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_35_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_4_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_5_mg1.txt
ELAI/ELAI_res/avg_hic_scaffold_hic_scaffold_6_mg1.txt
ELAI/ELAI_res/cerv_hyb_avg_dosage.bed
ELAI/ELAI_res/chroms.txt
ELAI/ELAI_res/hic_scaffold_10_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_11_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_15_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_17_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_1_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_20_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_21_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_2_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_30_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_31_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_35_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_4_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_5_1_1.snpinfo.txt
ELAI/ELAI_res/hic_scaffold_6_1_1.snpinfo.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_10_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_11_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_15_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_17_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_1_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_20_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_21_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_2_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_30_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_31_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_35_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_4_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_5_mg1.txt
ELAI/ELAI_res/noR_no_head_avg_hic_scaffold_hic_scaffold_6_mg1.txt
ELAI/ELAI_res/palm_hyb_avg_dosage.bed
ELAI/OneDrive_1_3-2-2022/Ap_genes.txt
ELAI/OneDrive_1_3-2-2022/elai_output.zip
ELAI/OneDrive_1_3-2-2022/elai_output/
ELAI/OneDrive_1_3-2-2022/elai_runs_full_dir.tar.gz
ELAI/OneDrive_1_3-2-2022/remarkable_intervals.zip
ELAI/OneDrive_1_3-2-2022/scripts.zip
ELAI/OneDrive_1_3-2-2022/structural_variants.zip
ELAI/all_1_hic_scaffold_1_thesis.ai
ELAI/all_1_hic_scaffold_1_thesis.pdf
ELAI/all_1_hic_scaffold_1_thesis.png
ELAI/tracks_genome_snpchip_thesis.ai
ELAI/tracks_genome_snpchip_thesis.pdf
ELAI/tracks_genome_snpchip_thesis.png
admixture_mapping/.Rhistory
admixture_mapping/man_palm_ancphen1.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen1.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen10.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen11.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen12.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen2.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen3.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen4.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen5.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen6.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen7.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen8.pdf
admixture_mapping/outputs_residuals/man_resids_anc_cerv_phen9.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen1.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen10.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen11.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen12.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen2.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen3.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen4.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen5.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen6.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen7.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen8.pdf
admixture_mapping/outputs_residuals/man_resids_anc_palm_phen9.pdf
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen1.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen10.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen11.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen12.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen2.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen3.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen4.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen5.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen6.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen7.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen8.txt
admixture_mapping/outputs_residuals/summaryTable_resids_cerv_phen9.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen1.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen10.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen11.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen12.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen2.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen3.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen4.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen5.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen6.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen7.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen8.txt
admixture_mapping/outputs_residuals/summaryTable_resids_palm_phen9.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen1.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen10.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen11.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen12.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen2.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen3.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen4.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen5.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen6.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen7.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen8.txt
admixture_mapping/outputs_residuals/top001_resids_cerv_phen9.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen1.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen10.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen11.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen12.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen2.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen3.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen4.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen5.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen6.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen7.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen8.txt
admixture_mapping/outputs_residuals/top001_resids_palm_phen9.txt
admixture_mapping/resids_allchr_palm_6.hyp.txt
admixture_mapping/resids_allchr_palm_6.param.txt
admixture_mapping/summaryTable_palm_phen1.txt
admixture_mapping/test_man_palm_ancphen1.pdf
admixture_mapping/top001_palm_phen1.txt
correlation/.Rhistory
correlation/1mb/
correlation/25kb/
correlation/40kb/
correlation/apalm_1mb.bed
correlation/apalm_25kb.bed
correlation/apalm_40kb.bed
correlation/cat_beds/
correlation/cerv/
correlation/cerv_hyb_avg_dosage.bed
correlation/chroms.txt
correlation/man_palm_ancphen1.pdf
correlation/original/
correlation/palm/
correlation/palm_hyb_avg_dosage.bed
correlation/rec/
correlation/recomb.bed
correlation/scaff_10_1mb_test.txt
correlation/top_1mb.txt
correlation/top_25kb.txt
correlation/top_40kb.txt
mareyMap/
redo_LM/.Rhistory
redo_LM/1_ParentCall/
redo_LM/2_Filtering/
redo_LM/3_SeparateChromosomes/
redo_LM/4_OrderMarkers/
redo_LM/5_Trim/
redo_LM/6_OrderMarkers/
redo_LM/6mb_sliding_wind_RecRat.bed
redo_LM/7_Distances/
redo_LM/7_DistancesSexAverage/
redo_LM/7_Intervals/
redo_LM/LOD.master
redo_LM/SexAvgSlidingWindow4_6Mb_Apalm_2022-03-02.txt
redo_LM/SexAvgSlidingWindows4_6Mb_Apalm_2022-03-02.zip
redo_LM/SexAvgplotRatesSlidingWindows4_4Mb_Apalm_2022-03-02.zip
redo_LM/all_maps_flipedLG1.pdf
redo_LM/all_maps_flipedLG10.pdf
redo_LM/all_maps_flipedLG11.pdf
redo_LM/all_maps_flipedLG12.pdf
redo_LM/all_maps_flipedLG13.pdf
redo_LM/all_maps_flipedLG14.pdf
redo_LM/all_maps_flipedLG2.pdf
redo_LM/all_maps_flipedLG3.pdf
redo_LM/all_maps_flipedLG4.pdf
redo_LM/all_maps_flipedLG5.pdf
redo_LM/all_maps_flipedLG6.pdf
redo_LM/all_maps_flipedLG7.pdf
redo_LM/all_maps_flipedLG8.pdf
redo_LM/all_maps_flipedLG9.pdf
redo_LM/all_maps_one_file_flipped.pdf
redo_LM/all_plotted_illustrator_version.ai
redo_LM/all_plotted_illustrator_version.pdf
redo_LM/all_plotted_illustrator_version.png
redo_LM/all_plotted_illustrator_version_fixed.png
redo_LM/female_LMV_plot.pdf
redo_LM/female_all.pdf
redo_LM/female_flip.pdf
redo_LM/female_sw_mm.txt
redo_LM/flip_main_femaleLG1.pdf
redo_LM/flip_main_femaleLG10.pdf
redo_LM/flip_main_femaleLG11.pdf
redo_LM/flip_main_femaleLG12.pdf
redo_LM/flip_main_femaleLG13.pdf
redo_LM/flip_main_femaleLG14.pdf
redo_LM/flip_main_femaleLG2.pdf
redo_LM/flip_main_femaleLG3.pdf
redo_LM/flip_main_femaleLG4.pdf
redo_LM/flip_main_femaleLG5.pdf
redo_LM/flip_main_femaleLG6.pdf
redo_LM/flip_main_femaleLG7.pdf
redo_LM/flip_main_femaleLG8.pdf
redo_LM/flip_main_femaleLG9.pdf
redo_LM/flip_main_maleLG1.pdf
redo_LM/flip_main_maleLG10.pdf
redo_LM/flip_main_maleLG11.pdf
redo_LM/flip_main_maleLG12.pdf
redo_LM/flip_main_maleLG13.pdf
redo_LM/flip_main_maleLG14.pdf
redo_LM/flip_main_maleLG2.pdf
redo_LM/flip_main_maleLG3.pdf
redo_LM/flip_main_maleLG4.pdf
redo_LM/flip_main_maleLG5.pdf
redo_LM/flip_main_maleLG6.pdf
redo_LM/flip_main_maleLG7.pdf
redo_LM/flip_main_maleLG8.pdf
redo_LM/flip_main_maleLG9.pdf
redo_LM/flip_sex_avgLG1.pdf
redo_LM/flip_sex_avgLG10.pdf
redo_LM/flip_sex_avgLG11.pdf
redo_LM/flip_sex_avgLG12.pdf
redo_LM/flip_sex_avgLG13.pdf
redo_LM/flip_sex_avgLG14.pdf
redo_LM/flip_sex_avgLG2.pdf
redo_LM/flip_sex_avgLG3.pdf
redo_LM/flip_sex_avgLG4.pdf
redo_LM/flip_sex_avgLG5.pdf
redo_LM/flip_sex_avgLG6.pdf
redo_LM/flip_sex_avgLG7.pdf
redo_LM/flip_sex_avgLG8.pdf
redo_LM/flip_sex_avgLG9.pdf
redo_LM/flip_sex_avg_all.pdf
redo_LM/male_LMV_plot.pdf
redo_LM/male_all.pdf
redo_LM/male_flip.pdf
redo_LM/male_sw_MM.txt
redo_LM/re_7_femaleLG1.pdf
redo_LM/re_7_femaleLG10.pdf
redo_LM/re_7_femaleLG11.pdf
redo_LM/re_7_femaleLG12.pdf
redo_LM/re_7_femaleLG13.pdf
redo_LM/re_7_femaleLG14.pdf
redo_LM/re_7_femaleLG2.pdf
redo_LM/re_7_femaleLG3.pdf
redo_LM/re_7_femaleLG4.pdf
redo_LM/re_7_femaleLG5.pdf
redo_LM/re_7_femaleLG6.pdf
redo_LM/re_7_femaleLG7.pdf
redo_LM/re_7_femaleLG8.pdf
redo_LM/re_7_femaleLG9.pdf
redo_LM/re_7_maleLG1.pdf
redo_LM/re_7_maleLG10.pdf
redo_LM/re_7_maleLG11.pdf
redo_LM/re_7_maleLG12.pdf
redo_LM/re_7_maleLG13.pdf
redo_LM/re_7_maleLG14.pdf
redo_LM/re_7_maleLG2.pdf
redo_LM/re_7_maleLG3.pdf
redo_LM/re_7_maleLG4.pdf
redo_LM/re_7_maleLG5.pdf
redo_LM/re_7_maleLG6.pdf
redo_LM/re_7_maleLG7.pdf
redo_LM/re_7_maleLG8.pdf
redo_LM/re_7_maleLG9.pdf
redo_LM/sex_averag_LMV_plot.pdf
redo_LM/sex_avgLG1.pdf
redo_LM/sex_avgLG10.pdf
redo_LM/sex_avgLG11.pdf
redo_LM/sex_avgLG12.pdf
redo_LM/sex_avgLG13.pdf
redo_LM/sex_avgLG14.pdf
redo_LM/sex_avgLG2.pdf
redo_LM/sex_avgLG3.pdf
redo_LM/sex_avgLG4.pdf
redo_LM/sex_avgLG5.pdf
redo_LM/sex_avgLG6.pdf
redo_LM/sex_avgLG7.pdf
redo_LM/sex_avgLG8.pdf
redo_LM/sex_avgLG9.pdf
redo_LM/sex_avg_MM.txt
redo_LM/sex_avg_all.pdf
redo_LM/sex_avg_imp_mm.txt
redo_LM/sliding_win_default_rate.txt
